In [44]:
import numpy as np
import pandas as pd 
import matplotlib as mpl
import matplotlib.pylab as plt
import matplotlib.pyplot as pplt
import matplotlib.patches as patches
import urllib
import json 
import folium

In [45]:
df_can = pd.read_csv('https://cocl.us/sanfran_crime_dataset',index_col=0)

print('Data downloaded and read into a dataframe!')

df_can.head()

Data downloaded and read into a dataframe!

,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
IncidntNum,,,,,,,,,,,,
120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [46]:
count = df_can['PdDistrict'].value_counts().tolist()
print(count)

[28445, 20100, 19503, 17666, 14303, 11594, 11325, 9942, 8922, 8699]

In [47]:
count1 = df_can.groupby(['PdDistrict']).count()
count1.head(12)

,Category,Descript,DayOfWeek,Date,Time,Resolution,Address,X,Y,Location,PdId
PdDistrict,,,,,,,,,,,
BAYVIEW,14303,14303,14303,14303,14303,14303,14303,14303,14303,14303,14303
CENTRAL,17666,17666,17666,17666,17666,17666,17666,17666,17666,17666,17666
INGLESIDE,11594,11594,11594,11594,11594,11594,11594,11594,11594,11594,11594
MISSION,19503,19503,19503,19503,19503,19503,19503,19503,19503,19503,19503
NORTHERN,20100,20100,20100,20100,20100,20100,20100,20100,20100,20100,20100
PARK,8699,8699,8699,8699,8699,8699,8699,8699,8699,8699,8699
RICHMOND,8922,8922,8922,8922,8922,8922,8922,8922,8922,8922,8922
SOUTHERN,28445,28445,28445,28445,28445,28445,28445,28445,28445,28445,28445
TARAVAL,11325,11325,11325,11325,11325,11325,11325,11325,11325,11325,11325
TENDERLOIN,9942,9942,9942,9942,9942,9942,9942,9942,9942,9942,9942

In [48]:
count1.drop(['Descript', 'DayOfWeek', 'Date', 'Time'], axis=1, inplace=True)

In [49]:
count1.drop(['Resolution', 'Address', 'X', 'Y','Location','PdId'], axis=1, inplace=True)
count1.head(12)

            Category
PdDistrict
BAYVIEW        14303
CENTRAL        17666
INGLESIDE      11594
MISSION        19503
NORTHERN       20100
PARK            8699
RICHMOND        8922
SOUTHERN       28445
TARAVAL        11325
TENDERLOIN      9942

In [50]:
count1.rename(columns={'Category':'Count','PdDistrict':'Neighbourhood'}, inplace=True)
count1.head(12)

            Count
PdDistrict
BAYVIEW     14303
CENTRAL     17666
INGLESIDE   11594
MISSION     19503
NORTHERN    20100
PARK         8699
RICHMOND     8922
SOUTHERN    28445
TARAVAL     11325
TENDERLOIN   9942

In [51]:
count1=count1.reset_index()
count1.rename(columns={'Category':'Count','PdDistrict':'Neighbourhood'}, inplace=True)

count1

  Neighbourhood  Count
0       BAYVIEW  14303
1       CENTRAL  17666
2     INGLESIDE  11594
3       MISSION  19503
4      NORTHERN  20100
5          PARK   8699
6      RICHMOND   8922
7      SOUTHERN  28445
8       TARAVAL  11325
9    TENDERLOIN   9942

In [52]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium

print('Folium installed and imported!')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Folium installed and imported!

In [38]:
# download countries geojson file
!wget --quiet https://cocl.us/sanfran_geojson/san-francisco.geojson -O san-francisco.geojson
    
print('GeoJSON file downloaded!')

GeoJSON file downloaded!

In [53]:
# create a plain world map

latitude = 37.77
longitude = -122.42
sanfran_map = folium.Map(location=[latitude, longitude], zoom_start=12)

# display the map of San Francisco
sanfran_map

In [54]:
sf_geo = r'https://cocl.us/sanfran_geojson'

sf_map = folium.Map(location=[37.77, -122.42], zoom_start=12)
sf_map.choropleth(
    geo_data=sf_geo,
    data=count1,
    columns=['Neighborhood','Count'],
    key_on='feature.properties.DISTRICT',
    fill_color='YlOrRd',
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crimes Rate in San Francisco By Neighborhood',
)

sf_map

KeyError: "None of ['Neighborhood'] are in the columns"

In [21]:
columns=['Neighborhood', 'Count'],

In [41]:
# generate choropleth map using the total immigration of each country to Canada from 1980 to 2013
sf_geo = r'san-francisco.geojson'
sanfran_map = folium.Map(location=[37.77, -122.42], zoom_start=12)

sanfran_map.choropleth(
    geo_data=sf_geo,
    data=count1,
    columns=['Neighborhood', 'Count'],
    key_on='feature.properties.name',
    fill_color='YlOrRd', 
)

# display map
sanfran_map

KeyError: "None of ['Neighborhood'] are in the columns"

In [1]:



as

SyntaxError: invalid syntax (<ipython-input-1-1ca5879492b8>, line 1)

In [5]:
# For the percentage, this is one option
# Option 1
df_survey = round((df_survey1/2233 * 100), 2)

# Option 2
# Calculating it within a loop
# Artist Layer Matplotlib
colours = ['#5cb85c', '#5bc0de', '#d9534f']

ax = df_survey_sorted.plot(kind='bar', figsize=(set the values here), width = "value", color = colour, fontsize = "value", edgecolor = None)
ax.set_title("Percentage of Respondents's Interest in Data Science Areas", fontsize = 16)

# This is the most tricky part where I struggled a bit too
# But check this,
# Using the ax.patches - use can google more on this to learn more on the ax.patches

# i.get_x() + 0.01 --- 0.01 is approximate shift position
# i.get_height() + 20 --- 20 is approximate shift for the height

for i in ax.patches:
    ax.text(i.get_x()+0.01, i.get_height()+20,  str(round((i.get_height()/2263)*100, 2))+'%', fontsize=14)

ax.legend(fontsize = 14)
ax.set_frame_on(False)
ax.set_xlabel(False).set_visible(False)
ax.axes.get_yaxis().set_visible(False)

# I hope this helps more.


# To do the sum, use the code below as sample to help
# I had to create a Data Frame
df_incidents = df_incidents['PdDistrict'].value_counts().index.tolist()

df_incidents = df_incidents['PdDistrict'].value_counts().values.tolist()

df_incidents = {'PdDistrict': df_incidents_PdDistrict,
         'Count': df_incidents_Count}

df_incident = pd.DataFrame(df_incidents_new)


# Let me know how it goes.
# All the best.

SyntaxError: invalid syntax (<ipython-input-5-da0e61ad9dbb>, line 10)